.heading {
    transition: all 2s ease-in-out;
}

.heading:hover {
    background-color: aqua;
}

a {
    color: darkorange;
}

a:link {
    color: deeppink;
}

a:visited {
    color: yellowgreen;
}

a:hover {
    background: darkslateblue;
    color: wheat;
    text-decoration: none;
}

a:active {
    background: darksalmon;
    color: wheat;
    text-decoration: none;
}

input:focus {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    outline: none;
    border: 1px solid black;

}

input:disabled {
    background-color: purple;
    cursor: not-allowed;

}

input:checked+p {
    width: 50px;
    height: 50px;
    background-color: yellowgreen;
}

.pai .filha li:last-child {
    color: darkcyan;
}

p:not(.segundo) {
    color: pink
}

div ul li:nth-child(even) {
    background-color: yellow;
}

div ul li:nth-child(odd) {
    background-color: yellowgreen;
}

div ul li:nth-child(3n) {
    background-color: darkgray;
}

div ul li:nth-child(3n+5) {
    background-color: darkred;
}

ul li::after {
    content: '-';
    background: black;
    color: white;
    display: block;
}

ul li::before {
    content: '-';
    background: pink;
    color: black;
    display: block;
}

p::first-letter {
    font-size: 50px;
    display: block;
    float: left;
    margin: 0 10px 10px 0;
}

p::first-line {
    background-color: yellowgreen;
}

p::selection {
    background: black;
    color: white;
}

